body {
  margin: 0;
  font-size: 1.125rem;
  font-weight: 300;
}
img {
  max-width: 100%;
  display: block;
}
/*************
    Tpography
    *************/
h1,
h2,
h3 {
  color: #143774;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 400;
  margin-top: 0;
}

h1 {
  font-size: 2rem;
  margin: 0;
}
.sub-title {
  font-weight: 700;
  color: #1792d2;
  font-size: 0.75rem;
  word-spacing: 0.25rem;
  letter-spacing: 0.075rem;
  margin: 0;
}

a {
  color: #1792d2;
}
a:hover,
a:focus {
  color: #143774;
}
strong {
  font-weight: 700;
}

/*h1 subtitle*/
.article-title {
  font-size: 1.5rem;
}

.article-read-more,
.article-info {
  font-size: 0.875rem;
}

.article-read-more {
  color: #1792d2;
  text-decoration: none;
  font-weight: 700;
}

.article-read-more:hover,
.article-read-more:focus {
  color: #143774;
  text-decoration: underline;
}

.article-info {
  margin: 2em 0;
}
.widget-title {
  font-size: 1.5rem;
  font-weight: 700;
}
/**
  Layout
        **/

.container {
  width: 90%;
  max-width: 980px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
header {
  background: #f8f8f8;
  padding: 2em 0;
  text-align: center;
  margin-bottom: 3em 0;
}
footer {
  background-color: #143774;
  color: #ffffff;
  text-align: center;
  padding: 3em;
}
@media (min-width: 675px) {
  .container-flex {
    flex-direction: row;
  }
  main {
    width: 70%;
  }
  aside {
    width: 25%;
  }
}
/**nav**/
nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: center;
}
nav li {
  margin-left: 2em;
}
nav a {
  text-decoration: none;
  color: #707070;
  font-weight: 700;
  padding: 0.25em 0;
}
nav a:hover,
nav a:focus {
  color: #1792d2;
}
@media (max-width: 675px) {
  nav ul {
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
  nav li {
    margin: 0.5em 0;
  }
}
.current {
  border-bottom: 1px solid;
}
.current:hover {
  color: #707070;
}
.article-featured {
  border-bottom: #707070 1px solid;
  margin-bottom: 2em;
  padding-bottom: 2em;
}
.article-recent {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}
.article-recent-main {
  order: 2;
}
.article-recent-secondary {
  order: 1;
}
@media (min-width: 675px) {
  .article-recent {
    flex-direction: row;
    justify-content: space-between;
  }
  .article-recent-main {
    width: 68%;
  }
  .article-recent-secondary {
    width: 30%;
  }
  .article-image {
    width: 100%;
    min-height: 250px;
    object-fit: cover;
  }
  .article-featured {
    display: flex;
    flex-direction: column;
  }
  .article-image {
    order: -2;
  }
  .article-info {
    order: -1;
  }
}
/* widgets*/
.sidebar-widget {
  border: #efefef 0.75em solid;
  padding: 0.75em;
  margin-bottom: 2em;
}
.widget-recent-post {
  display: flex;
  flex-direction: column;
  border-bottom: #c0c0c0 1px solid;
  margin-bottom: 1em;
}
.widget-recent-post:last-child {
  border: 0;
  margin: 0;
}
.widget-recent-post-title {
  order: 6;
}
